@font-face {
  font-family: "NanumGothic";
  src: url(/static/font/NanumGothic.ttf) format("truetype");
}

@font-face {
  font-family: "NanumGothicBold";
  src: url(/static/font/NanumGothicBold.ttf) format("truetype");
}

@font-face {
  font-family: "NanumGothicExtraBold";
  src: url(/static/font/NanumGothicExtraBold.ttf) format("truetype");
}